server:
  port: 8085

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8080
          predicates:
            - Path=/api/v1/**
          filters:
            - AddResponseHeader=X-Response-Time, "Gateway"

        - id: notification-service
          uri: http://localhost:8084
          predicates:
            - Path=/notification
          filters:
              - AddResponseHeader=X-Response-Time, "Gateway"
